
body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    border: solid 2px;
    padding: 0 200px;
    height: 70px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu {
    display: flex;
    padding: 10px;
    align-items: center;
    
    color: #E5E7EB;
   
}

.main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    
}



a {
    text-decoration: none;
    color: #f9faf8

}

.footer {
    background-color: #1F2937;

}
