
body {
    display: flex;
    flex-direction: column;
   
    
}

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 0 200px;
    height: 70px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;   
}

nav a {
    color: #f9faf8; 
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0px;
}

p:first-child {
    font-size: 18px;
    color: #E5E7EB;
}

.section1 {
    display: flex;
    color: #E5E7EB;
    background-color:#1F2937;
    height: 400px;
    padding: 0 200px;
    padding-top: 50px;
}

button.sec1{
    width: 120px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border: 0px;
    height: 30px;
}

.sec1-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 70px;
    
}
.sec1-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: solid 2px;
    width: 600px;
    height: 250px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black; 
    height: 350px;
}

.sec2-headline {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    justify-content: center;
}

.sec2-container {
    display: flex;
    flex-direction: row;
   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text {
    width: 90px;
    margin-top: 10px;
}

.img-container {
    border: solid 2px #3882f6;
    border-radius: 5px;
    width: 80px;
    height: 80px;
}

.section3 {
    height: 350px;
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

blockquote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    padding: 0 200px;
}
    
.section4 {
    height: 350px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;

}

.sec4-inner {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    width: 800px;
    height: 150px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 0 60px;
    
}



button.sec4{
    width: 120px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border: solid 1px white;
    height: 30px    ;
}

.sec4-text {
    display: flex;
    flex-direction: column;
}


footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    height: 60px;
}
